# Django configuration
DEBUG=False
SECRET_KEY="yours-super-secret-key"
ALLOWED_HOSTS="127.0.0.1, localhost"

# Postgres configuration
PROD_DB=True
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_SERVER=db
POSTGRES_PORT=5432

# Telegaram configuration
TELEGRAM_BOT_ID=your_telegram_bot_id
DOMAIN=example.example
BOTNAME=example_bot
